{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": ["src/**/*.ts"],
  "exclude": ["**/*.spec.ts", "cypress/**/*"],
  "reporter": ["text", "lcov", "html"],
  "temp-dir": ".nyc_output"
}
